<app-not-found resetLinkText="Go To
Homepage"  [visible]="!userc.token && !userf.token"></app-not-found>
<div *ngIf="userc.token || userf.token">
<div mat-dialog-title><h1 style="color: rgb(68, 6, 185);">Complete Profile</h1></div>
<div mat-dialog-content class="container">
    <form [formGroup]="loginForm">
    <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>first name</mat-label>
        <input matInput type="text" formControlName="firstname">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>last name</mat-label>
        <input matInput type="text" formControlName="lastname">
    </mat-form-field>
   </div>

   <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>age</mat-label>
        <input matInput type="text" formControlName="age">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>email secondaire</mat-label>
        <input matInput type="text" formControlName="emailsecondaire">
    </mat-form-field>
   </div>
   
    <div class="row" *ngIf="userf.token">
        
        <mat-form-field appearance="outline">
            <mat-label>motivations</mat-label>
            <input matInput type="text" formControlName="motivations">
        </mat-form-field>
    </div>
    
</form>
</div>

<div mat-dialog-actions class="action">
    <button mat-raised-button [mat-dialog-close]="false">cancel</button>
    <button mat-raised-button (click)="submit()">save</button>

</div>

</div>