<app-not-found resetLinkText="Go To
Homepage"  [visible]="!userc.token && !userf.token"></app-not-found>
<div *ngIf="userc.token || userf.token">
<div mat-dialog-title><h1 style="color: rgb(68, 6, 185);">Complete Profile</h1></div>
<div mat-dialog-content class="container">
    <form [formGroup]="loginForm">
    <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>first name</mat-label>
        <input matInput type="text" formControlName="first name">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>last name</mat-label>
        <input matInput type="text" formControlName="last name">
    </mat-form-field>
   </div>

   <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>age</mat-label>
        <input matInput type="text" formControlName="age">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>status</mat-label>
        <input matInput type="text" formControlName="status">
    </mat-form-field>
   </div>
   <div class="row">
    <mat-form-field appearance="outline">
        <mat-label>email</mat-label>
        <input matInput type="text" formControlName="email">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>choose a special date</mat-label>
        <input matInput [matDatepicker]="picker"formControlName="date">
        <mat-hint>MM/DD/YYYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for] ="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
   </div>
    <div class="row">
        <mat-radio-group aria-label="select an option">
          <mat-label> <b>Gender</b> </mat-label>
          <mat-radio-button value="male" formControlName="gender">Male</mat-radio-button >
          <mat-radio-button value="female" formControlName="gender">female</mat-radio-button>
        </mat-radio-group>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Favorite</mat-label>
            <mat-select formControlName="favorite">
                <mat-option>
                    photography
                </mat-option>
                <mat-option>
                    coding
                </mat-option>
                <mat-option>
                    cooking
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>hobies</mat-label>
            <mat-select formControlName="hobies">
                <mat-option>
                    photography
                </mat-option>
                <mat-option>
                    swiming
                </mat-option>
                <mat-option> 
                    reading            
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
</form>
</div>

<div mat-dialog-actions class="action">
    <button mat-raised-button [mat-dialog-close]="false">cancel</button>
    <button mat-raised-button>save</button>

</div>

</div>