<div class="box">
  <div class="form">
      <h2 style="color:1E90FF;">
          Sign In
      </h2>
      <form  [formGroup]="registerForm" (ngSubmit)="submit()"  >
      <div class="inputBox">
          <label >email</label>
          <input type="email" formControlName="email">
      </div>
      <div class="inputBox">
          <label >password</label>
          <input type="password" formControlName="password">
      </div>
      <button type="submit">Submit</button>
      <div class="links">
      </div>

    </form>
  </div>
</div>

