.wrapper {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 5px 30px;
    width: 100%;
    
    
  }
.wrapper:hover{
    background-color: #040404;
    color: #1E90FF;
    
}
  .hr {
    display: flex;
    align-items: center;
  }

  hr {
    width: 30px;
    height: 1px;
    background: black;
    margin: 0 15px;
  }

  h2 {
    font-size: 25px;
    font-weight: normal;
    text-transform: uppercase;
  }

  .mission-txt {
    font-size: 18px;
    font-weight: 500px;
    font-style: italic;
    margin-top: 0;
  }

  div img {
    width: 150px;
    filter: drop-shadow(0 10px 5px black);
  }

  p {
    text-align: justify;
  }

  .faculties {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .unit {
    margin: 25px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .unit img {
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
  }

  .unit p {
    text-align: left;
    margin: 2px;
  }

  .unit p:first-of-type {
    font-weight: bolder;
    margin-bottom: 5px;
  }

  .background {
    background-image: url("https://media.licdn.com/dms/image/C4D12AQGg3R8LrThlnQ/article-cover_image-shrink_720_1280/0/1637868180103?e=2147483647&v=beta&t=AILUBjkp8pLen3pbC8_nQaFpPm2Ceu1vcflvZBj_hu4");
    background-blend-mode: darken;
    background-size: cover;
}

.firstsection {
    height: 100vh;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    height: 40%;
    flex-direction: column;
    
}





.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    color: rgb(79, 149, 248);
}


.text-small {
    font-family: 'Sansita Swashed', cursive;
    font-size: 20px;
    text-align: center;
    color: black;
}

button{
    height: 50px;
    width: 150px;
    background-color: #1E90FF;
    color: #040404;
    font-weight: bold;
    font-size: 20px;
    margin-left: 130px;
    margin-top: 250px;
    border-radius: 3px;
    opacity: 0.8;
}

button:hover{
    opacity: 1;
    cursor: pointer;
}
  @media screen and (max-width:820px) {
    .wrapper {
      width: 80%;
      padding: 5px 30px;
    }
  }



.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #fff;
    padding: 5px 30px;
    width: 100%;
    margin-bottom: 30px;

}
h3{
    font-size: 20px;
    font-weight: bold;
    position: relative;
}

p{
    font-size: 12px;
    font-weight: bold;
}

h3:before{
    content:"  ";
    display: block;
    height: 22px;
    width: 4px;
    position: absolute;
    left: -5px;
    
    background: #1E90FF;

}

