
<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <form (ngSubmit)="Submit()" enctype="multipart/form-data" >
      <div class="formbold-input-group">
      <div class="formbold-input-radio-wrapper">
        <label class="formbold-form-label" style="font-size: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Give a name for your project</label>
        <div class="formbold-radio-flex">
          <div class="formbold-input-group">
            <input [(ngModel)]="name" [ngModelOptions]="{standalone: true}"
              type="text"
              class="formbold-form-input"
            />
          </div>
        </div>
      </div>
      <div class="formbold-input-radio-wrapper">
        <label  class="formbold-form-label" style="font-size: 20px;">Add the period project</label>
        <div class="formbold-radio-flex">
          <div class="formbold-input-group">
            <input [(ngModel)]="period" [ngModelOptions]="{standalone: true}"
              type="text"
              class="formbold-form-input"
            />
          </div>
        </div>
      </div>
      </div>
      <div class="formbold-input-radio-wrapper">
        <label  class="formbold-form-label" style="font-size: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Add the budjet en €</label>
        <div class="formbold-radio-flex">
          <div class="formbold-input-group">
            <input [(ngModel)]="budjet" [ngModelOptions]="{standalone: true}"
              type="number"
              class="formbold-form-input"
            />
          </div>
        </div>
      </div>
      <div class="formbold-input-group">
        <label class="formbold-form-label" style="font-size: 20px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;" >
          What is the cathegorie of the project
        </label>
        <select class="formbold-form-select" (change)="onCategoryChange($event)">
          <option></option>
          <option  *ngFor="let cathegorie of cathegories" value="{{cathegorie.id}}">{{cathegorie.name}}</option>
        </select>
      </div>
      <div class="formbold-input-group">
        <label  class="formbold-form-label" style="font-size: 20px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Uploid an image</label>
        <input name="imageFile"
          type="file"
          class="formbold-form-input" (change)="SelectedFile($event)"
        />
      </div>
      <button class="formbold-btn">Submit</button>
    </form>
  </div>
</div>
