<section class="background">
    <h1>Freelancer site</h1>
    <p>Hire expert</p>
    <p>Internet Marketing Specialists</p>
      <p>for any job</p>
</section>
  <nav>
    <ul>
      <li>
        <a routerLink="/cathegorie/all">All</a>
      </li>
    <li  class="menu-container"  *ngFor="let cathegorie of cathegories">
      <a routerLink ="/cathegorie/{{cathegorie.id}}">{{cathegorie.name}}</a>
    </li>
  </ul>
 </nav>
  <body>
  <ul class="container">
    <li *ngFor="let project of projects">
      <div class="card">
          <div class="face face1">
              <div class="content">
                  <img src = "assets/{{project.imageUrl}}" width="600px" height="100px">
                  <h3>{{project.description}}</h3>
              </div>
          </div>
          <div class="face face2">
              <div class="content">
                  <p>{{project.period}}</p>
                  <p>{{project.budjet}}</p>
                     <a routerLink = "/cathegorie/{{project.cathegorie_id.id}}">Read More</a>
              </div>
          </div>
      </div>
</li>
</ul>
</body>
<footer>
<div class="footer-content">
  <h3>More information</h3>
  <p>Framer : M.Achak Lotfi</p>
  <ul class="socials">
    <li>
      <a href="https://www.facebook.com">
        <mat-icon>facebook</mat-icon>
      </a>
    </li>
    <li>
      <a href="https://mail.google.com">
        <mat-icon>mail</mat-icon>
      </a>
    </li>
  </ul>
   <p>copyright &copy;2023 <a href="https://www.freelancer.com/">Reference Site</a></p>
 </div>
</footer>









