<app-not-found resetLinkText="Go To
Homepage"  [visible]="!userc.token && !userf.token"></app-not-found>
<div class="wrapper" *ngIf="userf.token || userc.token">
  <div class="left">
      <img src="assets/{{freelancer.imageUrl}}"
      alt="user" width="100">
      <h4>{{freelancer.name}}</h4>
  </div>
  <div class="right">
      <div class="info">
          <h3>Information</h3>
          <div class="info_data">
               <div class="data">
                  <h4>Email</h4>
                  <p>{{freelancer.email}}</p>
               </div>
               <div class="data">
                 <h4>Phone</h4>
                  <p>{{freelancer.phone}}</p>
            </div><br>
            <div class="data">
              <h4>Motivation</h4>
               <p>{{freelancer.motivations}}</p>
         </div>
          </div>
      </div>

    <div class="projects">
          <h3>Projects</h3>
          <div class="projects_data" *ngFor="let project of projects">
               <div class="data">
                  <h4>{{project.description}}</h4>
               </div>
          </div>
      </div>
    </div>
  </div>

