<header>
    <div class="container">
        <a routerLink="/" class="logo">near <span>|</span></a>

        <nav>
            <ul>
                <li >
                    <li *ngIf="!userf.token && !userc.token" >
                        <a routerLink="/" class="logo">home</a>   
                    </li>
                    <li *ngIf="!userf.token && !userc.token" class="menu-container">
                    <a routerLink="/login" class="logo">login</a>
                    <div class="menu">
                        <a routerLink="/login/freelancer">Freelancer</a>
                        <a routerLink="/login/client">Client</a>

                    </div>
                    </li>

                <li *ngIf="!userf.token && !userc.token" >
                    <a routerLink="/Register" class="logo">Sign UP</a>
                </li>


                <li class="menu-container">
                    <a routerLink="/dashboard">Guid</a>
                    <div class="menu">
                        <a routerLink="/about">about</a>
                        <a routerLink="/how-work">how it work</a>
                        <a *ngIf="userf.token || userc.token"(click)="logout()">logout</a>
                    </div>
                </li>
                <li *ngIf="userf.token || userc.token" >
                    <a *ngIf="userf.token" routerLink="profil" class="logo">{{userf.status}}:{{userf.email}}</a>
                    <a *ngIf="userc.token" routerLink="profil" class="logo">{{userc.status}}:{{userc.email}}</a>
                </li>
                <div class="box">
                    <a *ngIf="userc.token" routerLink="/add_project">add project</a>
                </div>
                <div class="box">
                  <a routerLink="/get_idea">Get idea</a>
              </div>
              
            </ul>
        </nav>
    </div>
</header>
<span *ngIf="userf.token || userc.token ">
<app-susheader></app-susheader>
</span>

