<app-not-found resetLinkText="Go To
Homepage"  [visible]="!userc.token && !userf.token"></app-not-found>
<div  class="container" *ngIf="userc.token || userf.token">
  <img src="assets/{{project.imageUrl}}" />
  <div class="details">
    <div class="header">
      <span class="name">
       {{project.description}}
      </span>
    </div>
    <div class="tags">
    </div>

    <div class="cook-time">
      <span>
        Time to acheive the project is <strong>{{project.period}}</strong>
      </span>
    </div>

    <div class="price">
      <span>
     {{project.budjet}}
      </span>
    </div>

    <button ><a  routerLink="/cathegorie/{{project.cathegorie_id.id}}">
      {{project.cathegorie_id.name}}
    </a></button>

  </div>
</div>
